body {
  margin: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: white;
  gap: 30%;
}

.navigation-item {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.navigation-item li a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 40px 0px;
  background-color: rgba(238, 173, 69, 0.5);
}

.hero img {
  width: 300px;
  box-shadow: 0 4px 8px darkgray;
}

.hero p {
  padding: 20px;
}

.projects {
  margin: 30px;
  text-align: center;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 20px 0px;
}

.project {
  width: 300px;
  padding: 10px;
  box-shadow: 0px 4px 8px darkgray;
  border-radius: 10px;
  overflow: hidden;
}

.project img {
  width: 300px;
  object-fit: cover;
}

.project p {
  text-align: left;
  padding: 0px 10px;
}

footer {
  background-color: black;
}

.footer-item {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  gap: 20px;
  font-size: 12px;
  color: white;
  margin: 0px;
}

.footer-item li {
  cursor: pointer;
}

a:hover {
  background-color: darkgray;
  padding: 5px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
